body {
    background-color: #bce5f6;
}

/* ****
 Header
**** */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.inner-header-container {
    display: flex;
    justify-content: space-between;
}

.grocery-logo {
    width: 64px;
    height: 64px;
}

.header-title {
    margin: auto 0 auto 15px;
}

.header-title a {
    margin: 0;
    text-decoration: none;
}

.top-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inner-container {
    margin: 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info {
    margin: 5px 10px;
}

/* ****
 Index
**** */
.index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cover-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 30px;
    
}

.cover-container h1 {
    color: #F77A13;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
} 
.cover-container h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin: 10px 0 10px 0;
    padding: 0;
} 
.cover-container p {
    margin: 0;
    padding: 0;
}

.cover-img {
    border-radius: 5%;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ****
 Table
**** */

thead {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    width: 800px;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    width: 100px;
}

td {
    text-align: center;
}

.add-price {
    width: 50px;
}

/* ****
 List
**** */

.list-unstyled {
    display: flex;
}

.list-item {
    width: 100%;
}